In [5]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline

In [6]:
df=pd.read_csv("/content/drive/MyDrive/572/parsed_file.csv")

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
df.head()

                             Action Performed  ...  SackOK TS
0   TCP Timestamp is outside of PAWS window    ...        NaN
1   TCP Timestamp is outside of PAWS window    ...        NaN
2   TCP Timestamp is outside of PAWS window    ...        NaN
3   TCP Timestamp is outside of PAWS window    ...
4   TCP Timestamp is outside of PAWS window    ...

[5 rows x 34 columns]

In [9]:
df.columns

Index(['Action Performed', 'Connection Classification', 'Priority',
       'Date-Time', 'Source IP', 'Source Port', 'Destination IP',
       'Destination Port', 'Protocol', 'TimeToLive', 'TypeOfService', 'ID',
       'IP Length', 'DataGram Length', ' Frag Offset', ' Frag Size',
       ' Flag -2', 'Flag-1', ' Flag-U', ' Flag-A', ' Flag-P', ' Flag-R',
       ' Flag-S', ' Flag-F', 'All Flags', 'Seq', ' Ack', ' Win', ' TCP length',
       ' TCP Options', ' NOP NOP TS', ' MSS', ' NOP WS', ' SackOK TS'],
      dtype='object')

In [10]:
df['Connection Classification'].fillna(value=0, inplace=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25741 entries, 0 to 25740
Data columns (total 34 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Action Performed           25741 non-null  object
 1   Connection Classification  25741 non-null  object
 2   Priority                   25741 non-null  int64
 3   Date-Time                  25741 non-null  int64
 4   Source IP                  25741 non-null  object
 5   Source Port                25741 non-null  object
 6   Destination IP             25741 non-null  object
 7   Destination Port           25741 non-null  object
 8   Protocol                   25741 non-null  object
 9   TimeToLive                 25741 non-null  int64
 10  TypeOfService              25741 non-null  object
 11  ID                         25741 non-null  int64
 12  IP Length                  25741 non-null  int64
 13  DataGram Length            25741 non-null  int64
 14   Frag Offset               816 non-null    object
 15   Frag Size                 24108 non-null  object
 16   Flag -2                   23292 non-null  object
 17  Flag-1                     23292 non-null  object
 18   Flag-U                    23292 non-null  object
 19   Flag-A                    23292 non-null  object
 20   Flag-P                    23292 non-null  object
 21   Flag-R                    23292 non-null  object
 22   Flag-S                    23292 non-null  object
 23   Flag-F                    23292 non-null  object
 24  All Flags                  23292 non-null  object
 25  Seq                        23292 non-null  object
 26   Ack                       23292 non-null  object
 27   Win                       23292 non-null  object
 28   TCP length                23292 non-null  float64
 29   TCP Options               17979 non-null  float64
 30   NOP NOP TS                17979 non-null  object
 31   MSS                       17979 non-null  object
 32   NOP WS                    17979 non-null  object
 33   SackOK TS                 17979 non-null  object
dtypes: float64(2), int64(6), object(26)
memory usage: 6.7+ MB

In [12]:
df.isnull().sum()

Action Performed                 0
Connection Classification        0
Priority                         0
Date-Time                        0
Source IP                        0
Source Port                      0
Destination IP                   0
Destination Port                 0
Protocol                         0
TimeToLive                       0
TypeOfService                    0
ID                               0
IP Length                        0
DataGram Length                  0
 Frag Offset                 24925
 Frag Size                    1633
 Flag -2                      2449
Flag-1                        2449
 Flag-U                       2449
 Flag-A                       2449
 Flag-P                       2449
 Flag-R                       2449
 Flag-S                       2449
 Flag-F                       2449
All Flags                     2449
Seq                           2449
 Ack                          2449
 Win                          2449
 TCP length                   2449
 TCP Options                  7762
 NOP NOP TS                   7762
 MSS                          7762
 NOP WS                       7762
 SackOK TS                    7762
dtype: int64

In [13]:
df.columns

Index(['Action Performed', 'Connection Classification', 'Priority',
       'Date-Time', 'Source IP', 'Source Port', 'Destination IP',
       'Destination Port', 'Protocol', 'TimeToLive', 'TypeOfService', 'ID',
       'IP Length', 'DataGram Length', ' Frag Offset', ' Frag Size',
       ' Flag -2', 'Flag-1', ' Flag-U', ' Flag-A', ' Flag-P', ' Flag-R',
       ' Flag-S', ' Flag-F', 'All Flags', 'Seq', ' Ack', ' Win', ' TCP length',
       ' TCP Options', ' NOP NOP TS', ' MSS', ' NOP WS', ' SackOK TS'],
      dtype='object')

In [14]:
df.drop([' Frag Offset', ' Frag Size',
       ' Flag -2', 'Flag-1', ' Flag-U', ' Flag-A', ' Flag-P', ' Flag-R',
       ' Flag-S', ' Flag-F'], axis = 1, inplace=True)

In [15]:
df.isnull().sum()

Action Performed                0
Connection Classification       0
Priority                        0
Date-Time                       0
Source IP                       0
Source Port                     0
Destination IP                  0
Destination Port                0
Protocol                        0
TimeToLive                      0
TypeOfService                   0
ID                              0
IP Length                       0
DataGram Length                 0
All Flags                    2449
Seq                          2449
 Ack                         2449
 Win                         2449
 TCP length                  2449
 TCP Options                 7762
 NOP NOP TS                  7762
 MSS                         7762
 NOP WS                      7762
 SackOK TS                   7762
dtype: int64

In [16]:
df = df[df['All Flags'].notna()]#only taking those rows where value of df['All Flags']is not null

In [17]:
df.columns

Index(['Action Performed', 'Connection Classification', 'Priority',
       'Date-Time', 'Source IP', 'Source Port', 'Destination IP',
       'Destination Port', 'Protocol', 'TimeToLive', 'TypeOfService', 'ID',
       'IP Length', 'DataGram Length', 'All Flags', 'Seq', ' Ack', ' Win',
       ' TCP length', ' TCP Options', ' NOP NOP TS', ' MSS', ' NOP WS',
       ' SackOK TS'],
      dtype='object')

In [18]:
df.isnull().sum()

Action Performed                0
Connection Classification       0
Priority                        0
Date-Time                       0
Source IP                       0
Source Port                     0
Destination IP                  0
Destination Port                0
Protocol                        0
TimeToLive                      0
TypeOfService                   0
ID                              0
IP Length                       0
DataGram Length                 0
All Flags                       0
Seq                             0
 Ack                            0
 Win                            0
 TCP length                     0
 TCP Options                 5313
 NOP NOP TS                  5313
 MSS                         5313
 NOP WS                      5313
 SackOK TS                   5313
dtype: int64

In [19]:
df[' NOP NOP TS'].fillna(value=0, inplace=True)#Be carefull of ' ' in front of the column name

In [20]:
df[' TCP Options'].fillna(value=0, inplace=True)#Be carefull of ' ' in front of the column name

In [21]:
df[' MSS'].fillna(value=0, inplace=True)#Be carefull of ' ' in front of the column name

In [22]:
df[' NOP WS'].fillna(value=0, inplace=True)#Be carefull of ' ' in front of the column name

In [23]:
df[' SackOK TS'].fillna(value=0, inplace=True)#Be carefull of ' ' in front of the column name

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23292 entries, 0 to 25738
Data columns (total 24 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Action Performed           23292 non-null  object
 1   Connection Classification  23292 non-null  object
 2   Priority                   23292 non-null  int64
 3   Date-Time                  23292 non-null  int64
 4   Source IP                  23292 non-null  object
 5   Source Port                23292 non-null  object
 6   Destination IP             23292 non-null  object
 7   Destination Port           23292 non-null  object
 8   Protocol                   23292 non-null  object
 9   TimeToLive                 23292 non-null  int64
 10  TypeOfService              23292 non-null  object
 11  ID                         23292 non-null  int64
 12  IP Length                  23292 non-null  int64
 13  DataGram Length            23292 non-null  int64
 14  All Flags                  23292 non-null  object
 15  Seq                        23292 non-null  object
 16   Ack                       23292 non-null  object
 17   Win                       23292 non-null  object
 18   TCP length                23292 non-null  float64
 19   TCP Options               23292 non-null  float64
 20   NOP NOP TS                23292 non-null  object
 21   MSS                       23292 non-null  object
 22   NOP WS                    23292 non-null  object
 23   SackOK TS                 23292 non-null  object
dtypes: float64(2), int64(6), object(16)
memory usage: 4.4+ MB

In [25]:
df.head()

                             Action Performed  ...  SackOK TS
0   TCP Timestamp is outside of PAWS window    ...          0
1   TCP Timestamp is outside of PAWS window    ...          0
2   TCP Timestamp is outside of PAWS window    ...          0
3   TCP Timestamp is outside of PAWS window    ...
4   TCP Timestamp is outside of PAWS window    ...

[5 rows x 24 columns]

In [26]:
df.to_csv("semi_processed.csv", index=False)

In [27]:
df2=pd.read_csv("semi_processed.csv")

In [28]:
df2.columns

Index(['Action Performed', 'Connection Classification', 'Priority',
       'Date-Time', 'Source IP', 'Source Port', 'Destination IP',
       'Destination Port', 'Protocol', 'TimeToLive', 'TypeOfService', 'ID',
       'IP Length', 'DataGram Length', 'All Flags', 'Seq', ' Ack', ' Win',
       ' TCP length', ' TCP Options', ' NOP NOP TS', ' MSS', ' NOP WS',
       ' SackOK TS'],
      dtype='object')

In [29]:
df2['Connection Classification'].value_counts()

Web Application Attack                                  8550
                                                        6323
access to a potentially vulnerable web application      3146
Attempted Information Leak                              2582
Executable code was detected                            1756
Attempted Administrator Privilege Gain                   728
Attempted Denial of Service                              148
Attempted User Privilege Gain                             40
Potentially Bad Traffic                                   10
Misc Attack                                                6
A Network Trojan was detected                              2
Attempt to login by a default username and password        1
Name: Connection Classification, dtype: int64

In [30]:
df2=df2.replace(r'^\s*$', 0, regex=True) #Even after remmoving the Null values there were still  many empty values in the columns 'Connection Classification', ' TCP Options', ' NOP NOP TS', ' MSS', ' NOP WS', ' SackOK TS'

In [31]:
df2['Connection Classification'].value_counts()

Web Application Attack                                  8550
0                                                       6323
access to a potentially vulnerable web application      3146
Attempted Information Leak                              2582
Executable code was detected                            1756
Attempted Administrator Privilege Gain                   728
Attempted Denial of Service                              148
Attempted User Privilege Gain                             40
Potentially Bad Traffic                                   10
Misc Attack                                                6
A Network Trojan was detected                              2
Attempt to login by a default username and password        1
Name: Connection Classification, dtype: int64

In [32]:
df2['Connection Classification'].mask(df2['Connection Classification'] != 0, 1, inplace=True) #MAking the target variable binary

In [33]:
df2['Connection Classification'].value_counts()

1    16969
0     6323
Name: Connection Classification, dtype: int64

In [34]:
df2.columns

Index(['Action Performed', 'Connection Classification', 'Priority',
       'Date-Time', 'Source IP', 'Source Port', 'Destination IP',
       'Destination Port', 'Protocol', 'TimeToLive', 'TypeOfService', 'ID',
       'IP Length', 'DataGram Length', 'All Flags', 'Seq', ' Ack', ' Win',
       ' TCP length', ' TCP Options', ' NOP NOP TS', ' MSS', ' NOP WS',
       ' SackOK TS'],
      dtype='object')

In [35]:
df2.drop(['ID', 'IP Length'], axis = 1, inplace=True)

In [36]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23292 entries, 0 to 23291
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Action Performed           23292 non-null  object
 1   Connection Classification  23292 non-null  object
 2   Priority                   23292 non-null  int64
 3   Date-Time                  23292 non-null  int64
 4   Source IP                  23292 non-null  object
 5   Source Port                23292 non-null  int64
 6   Destination IP             23292 non-null  object
 7   Destination Port           23292 non-null  int64
 8   Protocol                   23292 non-null  object
 9   TimeToLive                 23292 non-null  int64
 10  TypeOfService              23292 non-null  object
 11  DataGram Length            23292 non-null  int64
 12  All Flags                  23292 non-null  object
 13  Seq                        23292 non-null  object
 14   Ack                       23292 non-null  object
 15   Win                       23292 non-null  object
 16   TCP length                23292 non-null  float64
 17   TCP Options               23292 non-null  float64
 18   NOP NOP TS                23292 non-null  object
 19   MSS                       23292 non-null  object
 20   NOP WS                    23292 non-null  object
 21   SackOK TS                 23292 non-null  object
dtypes: float64(2), int64(6), object(14)
memory usage: 3.9+ MB

In [37]:
df2.to_csv("semi_processed_2.csv", index=False)

In [38]:
df3=pd.read_csv("semi_processed_2.csv")

In [39]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23292 entries, 0 to 23291
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Action Performed           23292 non-null  object
 1   Connection Classification  23292 non-null  int64
 2   Priority                   23292 non-null  int64
 3   Date-Time                  23292 non-null  int64
 4   Source IP                  23292 non-null  object
 5   Source Port                23292 non-null  int64
 6   Destination IP             23292 non-null  object
 7   Destination Port           23292 non-null  int64
 8   Protocol                   23292 non-null  object
 9   TimeToLive                 23292 non-null  int64
 10  TypeOfService              23292 non-null  object
 11  DataGram Length            23292 non-null  int64
 12  All Flags                  23292 non-null  object
 13  Seq                        23292 non-null  object
 14   Ack                       23292 non-null  object
 15   Win                       23292 non-null  object
 16   TCP length                23292 non-null  float64
 17   TCP Options               23292 non-null  float64
 18   NOP NOP TS                23292 non-null  object
 19   MSS                       23292 non-null  int64
 20   NOP WS                    23292 non-null  int64
 21   SackOK TS                 23292 non-null  object
dtypes: float64(2), int64(9), object(11)
memory usage: 3.9+ MB

In [40]:
df3.drop(['Protocol'], axis = 1, inplace=True)

In [41]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23292 entries, 0 to 23291
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Action Performed           23292 non-null  object
 1   Connection Classification  23292 non-null  int64
 2   Priority                   23292 non-null  int64
 3   Date-Time                  23292 non-null  int64
 4   Source IP                  23292 non-null  object
 5   Source Port                23292 non-null  int64
 6   Destination IP             23292 non-null  object
 7   Destination Port           23292 non-null  int64
 8   TimeToLive                 23292 non-null  int64
 9   TypeOfService              23292 non-null  object
 10  DataGram Length            23292 non-null  int64
 11  All Flags                  23292 non-null  object
 12  Seq                        23292 non-null  object
 13   Ack                       23292 non-null  object
 14   Win                       23292 non-null  object
 15   TCP length                23292 non-null  float64
 16   TCP Options               23292 non-null  float64
 17   NOP NOP TS                23292 non-null  object
 18   MSS                       23292 non-null  int64
 19   NOP WS                    23292 non-null  int64
 20   SackOK TS                 23292 non-null  object
dtypes: float64(2), int64(9), object(10)
memory usage: 3.7+ MB

In [42]:
df3.columns

Index(['Action Performed', 'Connection Classification', 'Priority',
       'Date-Time', 'Source IP', 'Source Port', 'Destination IP',
       'Destination Port', 'TimeToLive', 'TypeOfService', 'DataGram Length',
       'All Flags', 'Seq', ' Ack', ' Win', ' TCP length', ' TCP Options',
       ' NOP NOP TS', ' MSS', ' NOP WS', ' SackOK TS'],
      dtype='object')

In [43]:
df3.rename(columns={' Ack':'Ack', ' Win':'Win', ' TCP length':'TCP_length', ' TCP Options':'TCP_Options',
       ' NOP NOP TS':'NOP_NOP_TS', ' MSS':'MSS', ' NOP WS':'NOP_WS', ' SackOK TS':'SackOK_TS'}, inplace = True)

In [44]:
df3.columns

Index(['Action Performed', 'Connection Classification', 'Priority',
       'Date-Time', 'Source IP', 'Source Port', 'Destination IP',
       'Destination Port', 'TimeToLive', 'TypeOfService', 'DataGram Length',
       'All Flags', 'Seq', 'Ack', 'Win', 'TCP_length', 'TCP_Options',
       'NOP_NOP_TS', 'MSS', 'NOP_WS', 'SackOK_TS'],
      dtype='object')

In [45]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23292 entries, 0 to 23291
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Action Performed           23292 non-null  object
 1   Connection Classification  23292 non-null  int64
 2   Priority                   23292 non-null  int64
 3   Date-Time                  23292 non-null  int64
 4   Source IP                  23292 non-null  object
 5   Source Port                23292 non-null  int64
 6   Destination IP             23292 non-null  object
 7   Destination Port           23292 non-null  int64
 8   TimeToLive                 23292 non-null  int64
 9   TypeOfService              23292 non-null  object
 10  DataGram Length            23292 non-null  int64
 11  All Flags                  23292 non-null  object
 12  Seq                        23292 non-null  object
 13  Ack                        23292 non-null  object
 14  Win                        23292 non-null  object
 15  TCP_length                 23292 non-null  float64
 16  TCP_Options                23292 non-null  float64
 17  NOP_NOP_TS                 23292 non-null  object
 18  MSS                        23292 non-null  int64
 19  NOP_WS                     23292 non-null  int64
 20  SackOK_TS                  23292 non-null  object
dtypes: float64(2), int64(9), object(10)
memory usage: 3.7+ MB

In [46]:
df3.columns = df3.columns.str.replace(' ', '') #Removing spaces

In [47]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23292 entries, 0 to 23291
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ActionPerformed           23292 non-null  object
 1   ConnectionClassification  23292 non-null  int64
 2   Priority                  23292 non-null  int64
 3   Date-Time                 23292 non-null  int64
 4   SourceIP                  23292 non-null  object
 5   SourcePort                23292 non-null  int64
 6   DestinationIP             23292 non-null  object
 7   DestinationPort           23292 non-null  int64
 8   TimeToLive                23292 non-null  int64
 9   TypeOfService             23292 non-null  object
 10  DataGramLength            23292 non-null  int64
 11  AllFlags                  23292 non-null  object
 12  Seq                       23292 non-null  object
 13  Ack                       23292 non-null  object
 14  Win                       23292 non-null  object
 15  TCP_length                23292 non-null  float64
 16  TCP_Options               23292 non-null  float64
 17  NOP_NOP_TS                23292 non-null  object
 18  MSS                       23292 non-null  int64
 19  NOP_WS                    23292 non-null  int64
 20  SackOK_TS                 23292 non-null  object
dtypes: float64(2), int64(9), object(10)
memory usage: 3.7+ MB

In [48]:
df3.to_csv("semi_processed_3.csv", index=False)

In [49]:
df4=pd.read_csv("semi_processed_3.csv")

In [50]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23292 entries, 0 to 23291
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ActionPerformed           23292 non-null  object
 1   ConnectionClassification  23292 non-null  int64
 2   Priority                  23292 non-null  int64
 3   Date-Time                 23292 non-null  int64
 4   SourceIP                  23292 non-null  object
 5   SourcePort                23292 non-null  int64
 6   DestinationIP             23292 non-null  object
 7   DestinationPort           23292 non-null  int64
 8   TimeToLive                23292 non-null  int64
 9   TypeOfService             23292 non-null  object
 10  DataGramLength            23292 non-null  int64
 11  AllFlags                  23292 non-null  object
 12  Seq                       23292 non-null  object
 13  Ack                       23292 non-null  object
 14  Win                       23292 non-null  object
 15  TCP_length                23292 non-null  float64
 16  TCP_Options               23292 non-null  float64
 17  NOP_NOP_TS                23292 non-null  object
 18  MSS                       23292 non-null  int64
 19  NOP_WS                    23292 non-null  int64
 20  SackOK_TS                 23292 non-null  object
dtypes: float64(2), int64(9), object(10)
memory usage: 3.7+ MB

In [51]:
df4['SackOK_TS'].value_counts()

0                      23257
48661984 0                 1
100579123 0                1
72152302 53393445          1
82292136 63514839          1
74021134 100579123         1
48664984 0                 1
101032051 0                1
86809314 101857746         1
57585693 0                 1
78551107 101032051         1
48668184 0                 1
59083043 0                 1
101857746 0                1
52674722 0                 1
72032210 53273572          1
77552132 58783455          1
63514839 0                 1
48302515 0                 1
66809048 0                 1
53393445 0                 1
77852266 59083043          1
68852062 50099209          1
50099209 0                 1
76352188 57585693          1
71432268 52674722          1
67642371 48302515          1
85592350 66809048          1
53273572 0                 1
67952272 49201055          1
80132265 61358895          1
47703591 0                 1
61358895 0                 1
67042354 47703591          1
49201055 0                 1
58783455 0                 1
Name: SackOK_TS, dtype: int64

In [52]:
df4.drop(['SackOK_TS'], axis = 1, inplace=True)

In [53]:
df4['NOP_NOP_TS'].value_counts()

0                       5375
959034 77997480           10
1317324 79430147           9
1005735 148965311          6
958988 77997297            6
                        ...
21954796 141880500         1
21942377 141830815         1
11197952 1261899           1
3645141815 22393309        1
5975934 78749419           1
Name: NOP_NOP_TS, Length: 12567, dtype: int64

In [54]:
df4['NOP_NOP_TS'] = df4['NOP_NOP_TS'].str.replace(' ', '') #Removing spaces

In [55]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23292 entries, 0 to 23291
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ActionPerformed           23292 non-null  object
 1   ConnectionClassification  23292 non-null  int64
 2   Priority                  23292 non-null  int64
 3   Date-Time                 23292 non-null  int64
 4   SourceIP                  23292 non-null  object
 5   SourcePort                23292 non-null  int64
 6   DestinationIP             23292 non-null  object
 7   DestinationPort           23292 non-null  int64
 8   TimeToLive                23292 non-null  int64
 9   TypeOfService             23292 non-null  object
 10  DataGramLength            23292 non-null  int64
 11  AllFlags                  23292 non-null  object
 12  Seq                       23292 non-null  object
 13  Ack                       23292 non-null  object
 14  Win                       23292 non-null  object
 15  TCP_length                23292 non-null  float64
 16  TCP_Options               23292 non-null  float64
 17  NOP_NOP_TS                23292 non-null  object
 18  MSS                       23292 non-null  int64
 19  NOP_WS                    23292 non-null  int64
dtypes: float64(2), int64(9), object(9)
memory usage: 3.6+ MB

In [56]:
df4.to_csv("semi_processed_4.csv", index=False)

In [57]:
df5=pd.read_csv("semi_processed_4.csv")

In [58]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23292 entries, 0 to 23291
Data columns (total 20 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ActionPerformed           23292 non-null  object
 1   ConnectionClassification  23292 non-null  int64
 2   Priority                  23292 non-null  int64
 3   Date-Time                 23292 non-null  int64
 4   SourceIP                  23292 non-null  object
 5   SourcePort                23292 non-null  int64
 6   DestinationIP             23292 non-null  object
 7   DestinationPort           23292 non-null  int64
 8   TimeToLive                23292 non-null  int64
 9   TypeOfService             23292 non-null  object
 10  DataGramLength            23292 non-null  int64
 11  AllFlags                  23292 non-null  object
 12  Seq                       23292 non-null  object
 13  Ack                       23292 non-null  object
 14  Win                       23292 non-null  object
 15  TCP_length                23292 non-null  float64
 16  TCP_Options               23292 non-null  float64
 17  NOP_NOP_TS                23292 non-null  int64
 18  MSS                       23292 non-null  int64
 19  NOP_WS                    23292 non-null  int64
dtypes: float64(2), int64(10), object(8)
memory usage: 3.6+ MB

In [59]:
from sklearn.preprocessing import  MinMaxScaler

In [60]:
mn=MinMaxScaler()

In [61]:
df5[["NOP_NOP_TS"]] = mn.fit_transform(df5[["NOP_NOP_TS"]])

In [62]:
df5[["SourcePort"]] = mn.fit_transform(df5[["SourcePort"]])

In [63]:
df5.to_csv("semi_processed_5.csv", index=False)

In [64]:
df55=pd.read_csv("semi_processed_5.csv")

In [65]:
df55.columns

Index(['ActionPerformed', 'ConnectionClassification', 'Priority', 'Date-Time',
       'SourceIP', 'SourcePort', 'DestinationIP', 'DestinationPort',
       'TimeToLive', 'TypeOfService', 'DataGramLength', 'AllFlags', 'Seq',
       'Ack', 'Win', 'TCP_length', 'TCP_Options', 'NOP_NOP_TS', 'MSS',
       'NOP_WS'],
      dtype='object')

In [66]:
df555=pd.get_dummies(data=df55, columns=['ActionPerformed', 'Priority', 'Date-Time',
       'SourceIP','DestinationIP', 'DestinationPort',
       'TimeToLive', 'TypeOfService', 'DataGramLength', 'AllFlags', 'Seq',
       'Ack', 'Win', 'TCP_length', 'TCP_Options','MSS',
       'NOP_WS'], drop_first=True)

In [67]:
df555.head()

   ConnectionClassification  SourcePort  ...  NOP_WS_3  NOP_WS_6
0                         0     0.88170  ...         0         0
1                         0     0.00000  ...         0         0
2                         0     0.00000  ...         0         0
3                         0     0.00084  ...         0         0
4                         0     0.00084  ...         0         0

[5 rows x 39464 columns]

In [68]:
df555.columns

Index(['ConnectionClassification', 'SourcePort', 'NOP_NOP_TS',
       'ActionPerformed_ (http_inspect) BARE BYTE UNICODE ENCODING  ',
       'ActionPerformed_ (http_inspect) DOUBLE DECODING ATTACK  ',
       'ActionPerformed_ (http_inspect) IIS UNICODE CODEPOINT ENCODING  ',
       'ActionPerformed_ (http_inspect) OVERSIZE CHUNK ENCODING  ',
       'ActionPerformed_ (http_inspect) OVERSIZE REQUEST-URI DIRECTORY  ',
       'ActionPerformed_ (http_inspect) U ENCODING  ',
       'ActionPerformed_ (http_inspect) WEBROOT DIRECTORY TRAVERSAL  ',
       ...
       'TCP_length_28.0', 'TCP_length_32.0', 'TCP_length_40.0',
       'TCP_Options_1.0', 'TCP_Options_3.0', 'TCP_Options_5.0', 'MSS_1160',
       'MSS_1460', 'NOP_WS_3', 'NOP_WS_6'],
      dtype='object', length=39464)